html{
    position: relative;
    overflow-x: hidden;
    min-height: 178vh;
}

html::before{
    background-image: url("/Images/image 53.png");
    content:'';
    position: absolute;
    inset:0;
    opacity: 0.28;
    z-index:-1;
} 

.Extra-length{
    min-height:234vh;
}

/* Navbar */
/* body{
    overflow-x:hidden;
    background-color: #fff;
    position: relative;
}

body::before{
    background-image: url("//Images/image 53.png");
    content:'';
    position: absolute;
    inset:0;
    opacity: 0.28;
} */

ul{
    margin-left:30rem;
}

.navbar{
    margin: 0.6rem 1.5rem;
    background-color: #ac2ccc;
    border-radius: 10px;
}

.navbar-logo{
    width: 6.7rem;
    height: 6.7rem;
}

.nav-link{
    color:white;
    margin-left:2.5rem;
    margin-top:0.3rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.team-button{
    margin-top:0.5rem;
    height:3rem;
    margin-left:4rem;
    font-weight: 700;
    width:8.5rem;
    color:#ac2ccc;
    font-size: 1.3rem;
}


.nav-link:hover{
    color:#ffc107;
}



/* Heading */

h1{
    margin:1rem 0rem 0.5rem 0rem;
    padding: 0rem 2rem;
}


.title-category{
    margin-left: 2rem;
    color:#ac2ccc;
}






/* Manage the card flipping */

.flip-card-3D-wrapper {
    width: 100%;
    height: 100%;
    max-width: 300px; 
    perspective: 900px;
    margin: 40px auto;
}

.flip-card {
  transition: all 1s ease-in-out;
  transform-style: preserve-3d;
  height: 14rem;
  width:30rem;
}

.do-flip {
    transform: rotateY(-180deg) translateX(40%); 
}

.flip-card-front, .flip-card-back {
  height: 128.5%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  border-radius: 10px;
  width:18rem;
}

.flip-card-front:hover{ transform:scale(1.1); transition:0.5s;}
.flip-card-back {transform: rotateY(180deg); color:white;}
.flip-card-front {color: white;}

.question-head{
    margin-top:15px;
}

.text-center{
    font-size:1.7rem;
}


.flip-card-back .question-background{
    height:140.5%;
    width:100%;
    margin: 0 0;
    border-radius:5px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}

.question-heading{
    color:white;
    text-align: center;
    z-index:10;
    position:relative;
    top:-250px;
    font-size:2rem;
    margin-bottom:20px;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}

.question-text{
    color:white;
    text-align: center;
    z-index:10;
    position:relative;
    top:-250px;
    font-size:1.7rem;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
}

#test
{
    color:#ecb53c;
    font-weight: 485;
}

#butt
{
    margin:3% 43.1%;
}


/* Popup Styles */
.btn-lg{
    margin:0 5% 3% 5%;
  }
  
  .btn-danger{
    background-color: rgb(210, 22, 22);
    margin-right:30px;
  }
  
  .btn-popup{
    margin-right:5%;
  }
  
  .btn-success{
    background-color:#03AC13;
    margin-left:30px;
  }
  
  .container{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .fa-solid{
    padding-top:20px;
    font-size:100px;
    color:#e7be06;
  }
  
  .Fiction-popup,.dialogue-popup,.logo-popup,.math-popup,.sports-popup,.myth-popup,
  .Fiction-Timer-Popup,.Dialogue-Timer-Popup,.logo-timer-popup,.math-timer-popup,.sports-timer-popup,.myth-timer-popup,.tb-timer-popup,.rf-timer-popup
  {
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    width:400px;
    background: #fff;
    border-radius: 6px;
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    box-shadow: 10px 10px 3px rgba(0,0,0,0.5);
    transition: transform 0.4s, top 0.4s;
  }
  
  .close-popup{
    visibility: hidden;
    top:0;
    transform:translate(-50%, -50%) scale(0.1);
  }
  
  .open-popup{
    visibility: visible;
    top:50%;
    transform:translate(-50%, -40%) scale(1);
  }
  










 /* Topics  */

.card-title{
    color:white;
    text-align: center;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
    font-size:2rem;
}

.card{
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3); 
}

.return, .scoreboard{
    margin: 0rem 0rem 1.5rem 33rem;
    color:white;
}

.row{
    margin-bottom: 1.5rem;
}

.scoreboard{
    display: inline-block;
} 


.logo-pic{
    width:10rem;
    height:10rem;
}

.logo-answer{
    width:20rem;
    height:20rem;
}