html{
  position: relative;
  overflow-x: hidden;
}

html::before{
  background-image: url("/Images/image 53.png");
  content:'';
  position: absolute;
  inset:0;
  opacity: 0.28;
  z-index:-1;
} 


/* inline css> html css> id > class > element */

body{
  overflow-x:hidden
}

ul{
  margin-left:30rem;
}

.navbar{
  margin: 0.6rem 1.5rem;
  background-color: #ac2ccc;
  border-radius: 10px;
}

.navbar-logo{
  width: 6.7rem;
  height: 6.7rem;
}

.nav-link{
  color:white;
  margin-left:2.5rem;
  margin-top:0.3rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.team-button{
  margin-top:0.5rem;
  height:3rem;
  margin-left:4rem;
  font-weight: 700;
  width:8.5rem;
  color:#ac2ccc;
  font-size: 1.3rem;
}


.nav-link:hover{
  color:#ffc107;
}



body{    /* Everything on page affected */             
    /* Space for any element */
    /* padding-top: 40px;  */
    text-align: center;
    /* background-image: url("/Images/bg.png"); */
  }
  
  button{        /* Selects every instance of button and applies */
  /* Space for any element, margin: top and bottom has 10px, left and right has 20px, can also have margin: a b c d, a is top, b is right, c is bottom and d is left */
    margin:10px 20px;
  }
  
  h1{
    font-size: 500%;
    /* 50px,50%,50em,50rem,50vh*/
  }
  
  h2,h3{
    font-size: 300%;
    padding-top:0.5%;
    
    /* How thick the font is */
    font-weight:100;
  }
  
  table{
    /* 70% of the screen */
    width:70%;
    /* Changes position with respect to current position */
    position: relative;
    /* How much to move element, can also do with top, bottom and right */
    left:15%;
    margin-bottom: 5%;
    border: 1.2px solid #ac2ccc;
  }
  
  td{
    font-size:1.2rem;
    border-right: 1.2px solid #ac2ccc;
  }
  
  th{
    width:30%;
    font-size:1.5rem;
    padding:1.5rem;
    color:white;
    border-right: 1.2px solid #fff;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    background-color: #ac2ccc;
  }
  
  tr{
    /* border: thickness type colour, applies on all 4 sides, top, bottom, left and right  */
    font-weight:600;
    border-top: 1.2px solid rgb(248, 248, 248);
    background-color: #fff;
    text-align: center;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    font-size:2rem;
  } 
  
  /* element = just element name
  class = .className
  id = #idName*/
  
  .banner{
    position: relative;
    margin:50px 300px;
    padding: 10px 40px;
    text-align: center;
    background-color: #ac2ccc;
    color:white;
  }
    
  .banner::before, .banner::after {
    content: '';
    width: 80px;
    height: 100%;
    background-color:#ac2ccc;
  
    /* position ribbon ends behind and slightly lower */
    position: absolute;
    z-index: -1;
    top: 20px;
    
    /* clip ribbon end shape */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
  
    /* draw and position the folded ribbon bit */
    background-image: linear-gradient(45deg, transparent 50%, rgb(99, 8, 99) 50%);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  
  .banner::before {
    left: -60px;
  }
    
  .banner::after {
    right: -60px;
    transform: scaleX(-1); /* flip horizontally */
  }
  
  .btn-lg{
    margin:0 5% 3% 5%;
  }
  
  .btn-danger{
    background-color: rgb(210, 22, 22);
    margin-right:30px;
  }
  
  .btn-success{
    background-color:#03AC13;
    margin-left:30px;
  }
  
  .tr-banded{
    background-color: rgb(248, 248, 248);
  }
  
  
  /* Popup Section */
  
  .container{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .fa-solid{
    padding-top:20px;
    font-size:100px;
    color:#e7be06;
  }
  
  .popup,.popup1{
    
    /* Position of the popup in center of screen */
    position:absolute;
    top:0;
    left:50%;
  
  
    /* translate moves popup to default position at top of screen, scale 0.1 is size of popup */
    transform:translate(-50%, -50%) scale(0.1);
  
    /* Makes popup invisible */
    visibility: hidden;
    width:400px;
    background: #fff;
  
    /* border-radius is used to round corners */
    border-radius: 6px;
    text-align: center;
    padding: 0 30px 30px;
  
    /* font-colour */
    color: #333;
  
    /* for box shadow parameters refer google, rgba(a,b,c,opacity)  */
    box-shadow: 10px 10px 3px rgba(0,0,0,0.5);
    
    /* Animation */
    transition: transform 0.4s, top 0.4s;
  }
  
  .popup1{
    margin-top:2.3%;
  }
  
  .open-popup{
    visibility: visible;
    top:-15%;
    transform:translate(-50%, 67%) scale(1);
  }
  
  /* Toggle button */

.on-off{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left:8rem;
  line-height:160px;
  position:absolute;
  top:3.5rem;
  left:60rem;
}

.back{
  width:9rem;
  height:5rem;
  border:13.33px solid white;
  background-color: lightcoral;
  position: absolute;
  border-radius: 160px;
  transition: background-color 300ms linear;
}

.back2{
  width:8rem;
  height:3.5rem;
  background-color: grey;
  position: absolute;
  opacity:0.1;
  border-radius: 160px;
  transition: background-color 300ms linear;
}


.front{
  width:3rem;
  height:3rem;
  border: 0.5rem solid white;
  border-radius: 160px;
  position:absolute;
  left: -2.8rem;
  background-color:lightgrey;
  transition: left 300ms ease-in-out,
              right 300ms ease-in-out;
}

.front:hover{
  cursor: pointer;
}

.off{
  position: absolute;
  right:5.3rem;
  bottom:-3.2rem;
  font-size: larger;
  color: white;
  font-weight: 700;
}

.on{
  position: absolute;
  right:1rem;
  bottom:-3.2rem;
  font-size: larger;
  color: white;
  font-weight: 700;
}