/* Homepage */
/* 
li{
    padding-left: 0.7rem;
} */

html{
    background-color: #fff;
    position: relative;
}

html::before{
    background-image: url("Images/image 53.png");
    content:'';
    position: absolute;
    inset:0;
    opacity: 0.28;
} 

ul{
    margin-left:30rem;
}

.navbar{
    margin: 0.6rem 1.5rem;
    background-color: #ac2ccc;
    border-radius: 10px;
}

.navbar-logo{
    width: 6.7rem;
    height: 6.7rem;
}

.nav-link{
    color:white;
    margin-left:2.5rem;
    margin-top:0.3rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.team-button{
    margin-top:0.5rem;
    height:3rem;
    margin-left:4rem;
    font-weight: 700;
    width:8.5rem;
    color:#ac2ccc;
    font-size: 1.3rem;
}


.nav-link:hover{
    color:#ffc107;
}


/* Heading */

h1{
    margin:1rem 0rem 3.5rem 0rem;
    padding: 0rem 2rem;
}


.title-category{
    margin-left: 2rem;
    color:#ac2ccc;
}




/* Topics */

.card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-right: 1rem;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3); 
    /* border: 5px solid #ffc107; */
}

.card-img-overlay,
.card-img {
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-img,
.card:hover .card-img-overlay {
    transform: translateY(-35.5%);
    border-radius: 0px;
}

.card-title{
    color:white;
    text-align: center;
    text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
    font-size:2rem;
}

.card:hover .hidden-button {
    opacity: 1;
}

.hidden-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 10px 30px 14px;
    text-align: center;
    background-image: url("Images/image 53.png");
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hidden-button a {
    color: white;
    text-decoration: none;
    background-color: #ffc107;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.row{
    margin-bottom: 2.5rem;
}



